<script>
    var a = ['value1','value2','value3','dg'];
    document.write(a[0]);
    document.write(a.length);
    for(var i = 0;i < a.length;i++){
        document.write(a[i] + "<br/>");
    }

    for(i in a){
        document.write(a[i] + "<br/>");
    }
</script>