<script>
    function showalert(){
        alert("Hi this is alert message");
    }
    function checkuser(){
        if(confirm('Aye you sure ?')){
            window.location = "http://www.google.com";
        }else{
            alert('You click cancel');
        }
    }
    var a = prompt('Enter Something');
    if(a=='something'){
        document.write('Correct');
    }else{
        document.write('Wrong');
    }

</script>
<button onclick="showalert();">Click</button>
<button onclick="checkuser();">Google</button>