<script>
    var a = {name:'Simran', fname:'Ranjit Singh'};
    document.write(a.name + a.fname);

    var b = [{name:'Peeter Parker'},{fname:'James Potter'}];
    document.write(b[1].fname);

    var c = {name:['Peeter','harry']};
    document.write(c.name[1]);

    var d = ['India','Pakistan','Nepal','UAE','Thai'];

</script>
<select>
    <script>
        for(i in d){
            document.write("<option>"+d[i]+"</option>");
        }
    </script>
</select>